#onglets {
  padding: 1em;
}
.onglet:not(.active):not(:only-child) {
  display: none;
}
.art-nav.center {
  display: flex;
  gap: 1em;
  border-bottom: solid crimson;
  justify-content:center;
}

#form_mySubStatic fieldset,
#form_mySubStaticlegend {
  padding:revert;
  border:revert;
}
#form_mySubStatic p {
  display: grid;
  grid-template-columns: 30% 1fr;
  z-index:999;
}
.aWizard {
  background: yellow;
  display: block;
  padding: 1em;
}
.aWizard img {
  mix-blend-mode: darken;
}
.wizard ~ p a.aWizard {
  display: none;
}
#pregR {
  margin:auto;
  border:solid 1px;
}
#pregR input {
  width:20em;
}
#pregR thead {
  background:#bee;
}
#pregR tfoot {
  background:#eeb;
}
.btn-reset {
  display: inline-block;
  margin: 1em;
  background: #777;
  color: #eee;
  padding: 0.25em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: .25s;
  border: solid 1px;
}
.btn-reset:hover {
  box-shadow: 0 0 5px gray;
}
.subgroup {
  width: 7em;
}
.subgroup input {
  max-width: 6em;
}
.subgroup select {
  width: 6em;
}
tbody input[id$=_group_cleaned]:not([class]) {
  background: azure;
  text-align: end;
  font-style: italic;
}
tbody input[id$="_group"][value],
tbody input[value][class]{
  background: cornsilk;
  font-weight: bolder;
  color: darkblue;
}
@media (max-width:900px) {
  #pregR input {
    width:auto;
  }
}
