ul.menu li a {
    width:auto;
}
li[class^='menu'] {
  position:relative;
}
li[class^='menu'] .sub-menu {
  display: none;
  overflow-y:revert;
}
.open + .sub-menu {
  display:block;
}
.sub-menu .sub-menu {
  position: static;
}
li[class^='menu'] span {
  display: block;
}
li[class^='menu'] li[class^='menu'] :is(a,span,li) {
  margin-left: 1em;
}
li[class^='menu'] span:before {
  content: "\25ba ";
}
li[class^='menu'] span.open:before {
  content: "\25bc ";
}
li[class^='menu'] .sub-menu {
  display: none;
}
li[class^='menu']:hover .open + .sub-menu {
  display: block;
}
#mySubStatic {
  display:flex;
  gap:1em;
  padding:0.5em 1em;
  margin: 0.5em 0;
  justify-content: center;
  border-block: double gray
}
#mySubStatic a {
  background:#3FAEE9;
  padding:0.05rem 0.75rem;
  border-radius: 5px;
  color:white;
  box-shadow: 1px 1px 5px #333;
  min-width:5em;
  text-align: center;
  transition:0.25;
  position:relative;
}
#mySubStatic a[rel='prev'] {
  box-shadow: -1px 1px 5px #333;
}
#mySubStatic a:hover {
  box-shadow: -1px -1px 5px #333;
  inset : 1px
}
#mySubStatic a[rel='prev']:hover {
  box-shadow: 1px 1px 5px #333;
  inset : -1px
}
#mySubStatic a.active {
  background: gray;
  box-shadow: none;
  pointer-events: none
}
article.article {
  display: grid;
}
body.mode-static .repertory.menu.breadcrumb {
  order: -1;
}
body.mode-static .repertory.menu.breadcrumb em {
  font-style: normal;
  color:#1568b4;
  text-decoration: underline
}
