nav.nav span.static+ul {
  padding-left:2rem
}
nav.nav li.menu>span.group + ul ,
nav.nav li.menu> span.group+ ul >li>span.group + ul {
  max-height:0;
  transition:3s 0s;
}
nav.nav  ul.menu > li.menu:hover > ul.sub-menu > .menu-item,
nav.nav li.menu:hover span.group+ ul,
nav.nav li.menu:hover span+ ul li:hover > span.group+ ul {
  display:block;
  max-height:70vh;
  transition:0;
}
nav.nav li.menu ul ul {
  position:static;
}