ul.menu li a {
    width:auto;
}
li[class^='menu'] {
    position:relative;
}
li[class^='menu'] .sub-menu {
    display: none;
    overflow-y:revert;
}
.open + .sub-menu {
    display:block;
}
.sub-menu .sub-menu {
    position: static;
}
li[class^='menu'] span {
    display: block;
}
li[class^='menu'] li[class^='menu'] :is(a,
span,
li) {
    margin-left: 1em;
}
li[class^='menu'] span:before {
    content: "\25ba ";
}
li[class^='menu'] span.open:before {
    content: "\25bc ";
}
li[class^='menu'] .sub-menu {
    display: none;
}
li[class^='menu']:hover .open + .sub-menu {
    display: block;
}
.sub-menu>li>a {
    margin-left:1.2em;
}
.has-children .has-children :is(.open,
.open + ul) {
    background:lightblue;
    color: #333;
    margin-bottom:0;
}
.has-children .has-children :is(.open,
.open + ul)>li,
.has-children .has-children :is(.open,
.open + ul) li a {
    background:none;
    color:inherit;
}

.sub-menu span.static, .sub-menu .sub-menu {
    padding-inline-start: 1.2em
}
.sub-menu .has-children a {
    margin-inline-start:0;
    border-bottom: solid #258fd6 2px;
    display:inline-block;
}
.has-children .has-children   {
    text-decoration:underline;
    background:linear-gradient(#258fd6,#258fd6) 1.5em 2em / 2px calc(100% - 2.5em) no-repeat white
}
article.article {
    display: grid;
}
body.mode-static .repertory.menu.breadcrumb {
    order: -1;
}
body.mode-static .repertory.menu.breadcrumb em {
    font-style: normal;
    color:#1568b4;
    text-decoration: underline
}

/* sub navigation in between statique of same level */

#mySubStatic {
    display:flex;
    gap:1em;
    padding:0.5em 1em;
    margin: 0.5em 0;
    justify-content: center;
    border-block: double gray
}

#mySubStatic a {
    background:#3FAEE9;
    padding:0.05rem 0.75rem;
    border-radius: 5px;
    color:white;
    box-shadow: 1px 1px 5px #333;
    min-width:5em;
    text-align: center;
    transition:0.25;
    position:relative;
}
#mySubStatic a[rel='prev'] {
    box-shadow: -1px 1px 5px #333;
}
#mySubStatic a:hover {
    box-shadow: -1px -1px 5px #333;
    inset : 1px
}
#mySubStatic a[rel='prev']:hover {
    box-shadow: 1px 1px 5px #333;
    inset : -1px
}
#mySubStatic a.active {
    background: gray;
    box-shadow: none;
    pointer-events: none
}
#submySubStatic {
    display:grid;
    place-content:center;
    padding: 1em;
}
#submySubStatic a{
    display:list-item;
    list-style-type:square
}